.card {
  max-width: 413px;
}

.card__image {
  display: block;
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 413px;
}

.card__title {
  max-width: 353px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: medium;
  margin: 12px 0 40px;
}

.card__like-button {
  background-image: url(../images/Spots-like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
  transition: ease-out 0.1s;
}

@media screen and (max-width: 667px) {
  .card__image {
    height: 288px;
  }
}