.footer {
  display: flex;
  padding: 60px 0;
  justify-content: center;
  color: rgba(33, 33, 33, 0.7);
}

.footer__text {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}