.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}


.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}


.profile__description {
  margin: 0;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  opacity: 70%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
}


.profile__edit-button {
  margin-top: auto;
  padding: 0;
  background: transparent;
  border: none;
  opacity: 70%;
  max-width: 107px;
  row-gap: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: medium;
  cursor: pointer;
}

.profile__edit-button img {
  margin: 0 8px 0 0;
}

.profile__edit-button:hover {
  opacity: 100%;
  transition: ease-out 0.1s;
}

.profile__add-button {
  background: #212121;
  color: #FCF5E5;
  width: 149px;
  height: 52px;
  margin: auto 0 0 auto;
  border-radius: 8px;
  padding: 0;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: medium;
  cursor: pointer;
  row-gap: 8px
}

.profile__add-button img {
  margin: 0 8px 0 0;
}

.profile__add-button:hover {
  opacity: 80%;
  transition: ease-out 0.1s;
}

@media screen and (max-width: 667px) {
  .profile {
    max-width: 288px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    margin-bottom: 12px;
    height: 80px;
    width: 80px;
  }

  .profile__edit-button {
    margin: 0 auto;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
  }

  .profile__description {
    margin-bottom: 32px;
  }

  .profile__column {
    margin-bottom: 20px;
  }
}